.hide{
  display: none;
}

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}

#home_page header{
  background: url("http://mshibl.github.io/imgs/IMG_4682.jpg") no-repeat;
  background-size: cover;
  background-position: 0px  -100px;
  width: 100%;
  height: 40em;
  top: 0;
  background-attachment: fixed;
}

#main_logo{
  margin:0 auto;
  top: 1em;
  position: relative;
  display: block;
  width: 200px;
}

#main_logo img{
  height: 200px;
  opacity: 0.7;
  display: block;
}

#home_page header nav{
  position: relative;
  margin: 0 auto;
  width: 500px;
  top: 14em;
  background-color: rgba(0,0,0,0.7);
  border-top: solid 1px orange;
  border-bottom: solid 1px orange;
}

#home_page nav table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: verdana;
}

#home_page header nav td{
  width: 100px;
  text-align: center;
}

#home_page header nav a:link, a:visited{
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

#home_page header nav a:hover{
  color: orange;
}

#home_page header .social_media_links{
  position: relative;
  margin: 0 auto;
  width: 10%;
  top: 15em;
}

.social_media_links img{
    display: block;
    width: 50px;
}

.main_nav_bar{
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  width: 100%;
}

.main_nav_bar figure{
float: left;
}

.main_nav_bar nav{
float: right;
}

.main_nav_bar a:link, a:visited{
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.main_nav_bar a:hover{
  color: orange;
}

.main_nav_bar #My_Name img{
  display: block;
  width: 200px;
}

.main_nav_bar>nav table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: verdana;
}

.main_nav_bar>nav td{
  width: 100px;
  text-align: center;
}


#About_Me #My_Photo img{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
}

#About_Me  #My_Photo figcaption{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  font-family: verdana;
}

#About_Me  figure figcaption:nth-child(2){
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 1em;
}

#About_Me  figure figcaption:nth-child(3){
  color: orange;
  font-size: 16px;
}

#blog{
    background-image: url("http://mshibl.github.io/imgs/dark_Tire.png");
    font-family: verdana;
}

#blog header{
  position: relative;
  top: 60px;
}

#blog header h1{
  text-transform: uppercase;
  color: white;
  font-family: verdana;
  text-align: center;
  opacity: 0.9;
  border-right: solid 4px orange;
  border-left: solid 4px orange;
  padding-right: 1em;
  padding-left: 1em;
  margin: 1em auto;
  width: 15%
}

#blog header h5{
  color: gray;
  font-family: verdana;
  text-align: center;
  opacity: 0.9;
  margin: 0 auto;
}

#blog header a:link, #blog header a:visited{
  text-decoration: none;
  color: inherit;
}

#blog header a:hover{
  color: orange;
}


#blog_index_page_content{
  display: block;
overflow: auto;
  border-bottom: solid 3px orange;
  padding-bottom: 5em;
}

#blog article{
  background-color: white;
  border-radius: 1em;
  width: 900px;
  float: right;
  position: relative;
  top: 60px;
  right: 30px;
  margin: 20px;
  overflow: hidden;
}

#side_bar{
  font-size: 15px;
  border-radius: 1em;
  background-color: white;
  opacity: 0.9;
  position: relative;
  top: 60px;
  width: 350px;
  float: left;
  left: 20px;
  margin: 20px;
  padding: 1em;
}

.blog_post_thumbs{
  margin: 0;
}

.blog_post_thumbs img{
  height: 150px;
  float: left;
  padding: 15px;
  position: relative;
}

.Blog_Post_Title{
  position: relative;
  padding-top: 1em;
  margin: 0;
  font-size: 18px;
}

.Blog_Post_Date{
  font-size: 10px;
  float: right;
  border: solid 1px orange;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: ;
  top:0;
  width: 6em;
  height: 6em;
  position: relative;
  color: orange;
  text-align: center;
}

.Blog_Post_Description{
  font-size: 13px;
  color: grey;
}


#About_Me{
  background-image:url("http://mshibl.github.io/imgs/dark_Tire.png");
  height: 620px;
  width: 100%;
  position: relative;
}

#About_Me h1{
  position: relative;
  margin: 0 auto;
  margin-top: 1em;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-family: verdana;
  color: white;
  opacity: 0.9;
  border-right: solid 4px orange;
  border-left: solid 4px orange;
}

#About_Me p{
  position: relative;
  font-family: verdana;
  text-align: center;
  color: white;
  padding-right: 100px;
  padding-left: 100px;
}

#About_Me table{
    position: relative;
    margin: 0 auto;
  }

#blog #About_Me{
  position: relative;
  bottom: 0em;
}

#home_page #About_Me #home_main_nav_bar{
  position: relative;
  display: block;
  overflow: auto;
}

#blog #blog_post_article{
  background-color: white;
  border-radius: 1em;
  width: 900px;
  float: right;
  position: relative;
  top: 60px;
  right: 30px;
  margin: 20px;
  overflow: hidden;
  padding: 1em;
  font-size: 14px;
  font-family: verdana;
}

#blog_post_article a{
  color: blue;
}

#blog_post_article img:first-child{
  width: 100%;
}

#blog_post_article img{
  margin: 0 auto;
  display: block;
}

#blog_post_article .Blog_Post_Date{
  float: left;
  margin: 0em;
  margin-right: 2em;
}

#blog_article_header{
  margin: 1em;
  overflow: auto;
}

#blog_article_header h3, p{
  margin: 0.5em;
}

.orange{
  color: orange;
}
