body.home_page{
  background: url("http://mshibl.github.io/imgs/IMG_4682.jpg") no-repeat;
  background-size: cover;
  background-position: 0px  -100px;
  width: 100%;
  background-attachment: fixed;
}

.hide{
  display: none;
}

body{
  width: 100%;
  margin: 0;
}

#logo img{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  position: relative;
}

nav.home_page{
  position: relative;
  margin: 0 auto;
  width: 500px;
  top: 200px;
  background-color: rgba(0,0,0,0.7);
  border-top: solid 1px orange;
  border-bottom: solid 1px orange;
}

nav.home_page table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: verdana;
}

nav.home_page td{
  width: 100px;
  text-align: center;
}

nav.home_page a:link, a:visited{
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.social_media_links img{
    display: block;
    width: 50px;
}

aside.social_media_links {
  position: relative;
  margin: 0 auto;
  width: 10%;
  top: 210px;

}

#home_nav_main{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 2;
  margin-top: 380px;
  width: 100%;
  overflow: auto;
}

#home_nav_main figure{
float: left;
}

#home_nav_main nav{
float: right;
}

#home_nav_main a:link, a:visited{
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

#home_nav_main a:hover{
  background-color: orange;
}

#My_Name img{
  display: block;
  width: 200px;
}

#home_nav_main>nav table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: verdana;
}

#home_nav_main>nav td{
  width: 100px;
  text-align: center;
}

#About_Me{
  background-image:url("http://mshibl.github.io/imgs/dark_embroidery.png");
  position: absolute;
  margin-top: 380px;
  height: 570px;
  width: 100%;
}

#About_Me h1{
  position: relative;
  top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-family: verdana;
  color: white;
  opacity: 0.9;
  border-right: solid 4px orange;
  border-left: solid 4px orange;
}

#My_Photo img{
  position: relative;
  display: block;
  top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#My_Photo figcaption{
  position: relative;
  display: block;
  top: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  text-align: center;
  font-family: verdana;
}

figure figcaption:nth-child(2){
  color: white;
  font-size: 18px;
  font-weight: bold;
}

figure figcaption:nth-child(3){
  color: orange;
  font-size: 16px;
}

#About_Me p{
  position: relative;
  top: 80px;
  font-family: verdana;
  text-align: center;
  color: white;
  padding-right: 100px;
  padding-left: 100px;
}

#About_Me aside{
  position: relative;
  top: 80px;
  }