.hide{
  display: none;
}

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}

.home_page header{
  background: url("http://mshibl.github.io/imgs/IMG_4682.jpg") no-repeat;
  background-size: cover;
  background-position: 0px  -100px;
  width: 100%;
  height: 40em;
  top: 0;
  background-attachment: fixed;
}

#main_logo{
  margin:0 auto;
  top: 1em;
  position: relative;
  display: block;
  width: 200px;
}

#main_logo img{
  height: 200px;
  opacity: 0.7;
  display: block;
}

.home_page header nav{
  position: relative;
  margin: 0 auto;
  width: 500px;
  top: 14em;
  background-color: rgba(0,0,0,0.7);
  border-top: solid 1px orange;
  border-bottom: solid 1px orange;
}

.home_page nav table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: verdana;
}

.home_page header nav td{
  width: 100px;
  text-align: center;
}

.home_page header nav a:link, a:visited{
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.home_page header nav a:hover{
  color: orange;
}

.home_page .social_media_links{
  position: relative;
  margin: 0 auto;
  width: 10%;
  top: 15em;
}

.social_media_links img{
    display: block;
    width: 50px;
}

.main_nav_bar{
  z-index: 1;
  position: absolute;
}

.main_nav_bar{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  overflow: auto;
}

.main_nav_bar figure{
float: left;
}

.main_nav_bar nav{
float: right;
}

.main_nav_bar a:link, a:visited{
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.main_nav_bar a:hover{
  color: orange;
}

#My_Name img{
  display: block;
  width: 200px;
}

.main_nav_bar>nav table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: verdana;
}

.main_nav_bar>nav td{
  width: 100px;
  text-align: center;
}

.home_page #About_Me{
  position: absolute;
  top: 40em;
}

#About_Me{
  background-image:url("http://mshibl.github.io/imgs/dark_Tire.png");
  height: 620px;
  width: 100%;
}

#About_Me h1{
  position: relative;
  top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-family: verdana;
  color: white;
  opacity: 0.9;
  border-right: solid 4px orange;
  border-left: solid 4px orange;
}

#My_Photo img{
  position: relative;
  display: block;
  top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#My_Photo figcaption{
  position: relative;
  display: block;
  top: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  text-align: center;
  font-family: verdana;
}

figure figcaption:nth-child(2){
  color: white;
  font-size: 18px;
  font-weight: bold;
}

figure figcaption:nth-child(3){
  color: orange;
  font-size: 16px;
}

#About_Me p{
  position: relative;
  top: 80px;
  font-family: verdana;
  text-align: center;
  color: white;
  padding-right: 100px;
  padding-left: 100px;
}

#About_Me aside{
  position: relative;
  top: 80px;
  }

#blog_index_page_nav_bar{
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 2;
}

#blog_index_page{
    background-image: url("http://mshibl.github.io/imgs/dark_Tire.png");
    font-family: verdana;
}

#blog_index_page header{
  position: relative;
  top: 60px;
}

#blog_index_page header h1{
  text-transform: uppercase;
  color: white;
  font-family: verdana;
  text-align: center;
  opacity: 0.9;
  border-right: solid 4px orange;
  border-left: solid 4px orange;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#blog_index_page header h5{
  color: gray;
  font-family: verdana;
  text-align: center;
  opacity: 0.9;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#blog_index_page header a:link, #blog_index_page header a:visited{
  text-decoration: none;
  color: inherit;
}

#blog_index_page header a:hover{
  color: orange;
}


#blog_index_page_content{
  display: block;
  height: 700px;
  border-bottom: solid 3px orange;
  padding-bottom: 5em;
}

#blog_index_page article{
  background-color: white;
  border-radius: 1em;
  opacity: 0.9;
  width: 900px;
  float: right;
  position: relative;
  top: 60px;
  right: 30px;
  margin: 20px;
  overflow: hidden;
}

#side_bar{
  font-size: 15px;
  border-radius: 1em;
  background-color: white;
  opacity: 0.9;
  position: relative;
  top: 60px;
  width: 400px;
  float: left;
  left: 20px;
  margin: 20px;
}

.blog_post_thumbs{
  margin: 0;
}

.blog_post_thumbs img{
  height: 150px;
  float: left;
  padding: 15px;
  position: relative;
}

.Blog_Post_Title{
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.Blog_Post_Date{
  font-size: 10px;
  float: right;
  border: solid 1px orange;
  padding: 15px;
  margin-right: 10px;
  top:0;
  position: relative;
  color: orange;
}

.Blog_Post_Description{
  font-size: 13px;
}
